.home {
    width: 100%;
    height: 100vh;
    /* background: url('../../assets/Home-Wide.jpg') no-repeat center center/cover; */
    /* Above is code for when the images are ready
    i'm using a colored background as a placeholder atm */
    background-color: black;
    border: 10px white solid;

}

.home .container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-basis: 100%;
    margin: 1rem 2rem .5rem, 2rem; */
    justify-content: flex-start;
    margin-left: 10rem;
    /* border: solid white 2px; */

}

.home .offset-h1 {
    margin-left: 6rem;
}

.home .span {
    /* flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 20%;
    width: 50%;
    margin: 2rem 5rem 2rem 5rem;
    flex-shrink: 1;
    flex-grow: 0;
    align-items: flex-start;
    justify-content: flex-start; */
    /* border: solid blue 2px; */
    padding: 2rem;
}

.home .content {
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: chenter;
    padding: 1rem;
    margin-left: 6rem;
    flex-shrink: 1; */
    flex: column;
    /* border: solid pink 2px; */

}

.home .section {
    /* border: solid red 2px; */
    height: 25vh;
}

.home h2 {
    /* margin: 1rem 3rem 1rem 3rem; */
    margin-left: 0;
    /* border: solid black 5px; */

}

.home .offset-h2 {
    margin-left: 11rem;
}

.home .section-mid {
    margin-left: 25rem;
}

.home p {
    /* border: solid white 2px; */
    margin-left: 18rem;
    padding: 2rem 3rem 2rem 0;
    flex-shrink: 2;
}

@media screen and (max-width: 768px) {
    .home .container {
        /* margin-left: 1rem; */
    }

    .home p {}
}