.nav {
    background-color: black;
    width: 100%;
    height: 15vh;
}

.nav .container {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
}

.nav .nav-list {
    display: flex;
    flex-shrink: 0;
    list-style: none;
    border: 3px solid white;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav li {
    margin: 2rem 2rem .2rem 2rem;
    padding: .4rem;
    font-size: 2rem;

}

.nav a:hover {
    color: var(--primary-color);
    text-shadow: .05rem 0 .08rem #BA9100;
}